<section id="productos">
  <div class="productos container">
    <div class="row">
      <div class="col text-center text-uppercase mt-5">
      </div>
    </div>

    <div class="row ">
      <div class="col-md-6 col-lg-4 col-sm-12 mb-4">
        <div class="card h-100" style="width: 19rem;">
          <img src="../assets/angular-logo.png" class="card-img-top imagen" alt="...">
          <div class="card-body text-center">




            <a href="" id="btn-carts" class="btn">Mas Info</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-sm-12  mb-4">
        <div class="card h-100" style="width: 18rem;">
          <img src="../assets/angular-logo.png" class="card-img-top imagen" alt="...">
          <div class="card-body text-center">



            <a href="" id="btn-carts" class="btn">Mas Info</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-sm-12  mb-4 ">
        <div class="card h-100" style="width: 18rem;">
          <img src="../assets/angular-logo.png" class="card-img-top imagen" alt="...">
          <div class="card-body text-center">



            <a href="" id="btn-carts" class="btn ">Mas Info</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-sm-12  mb-4">
        <div class="card h-100" style="width: 18rem;">
          <img src="../assets/angular-logo.png" class="card-img-top imagen" alt="...">
          <div class="card-body text-center">

            <a href="" id="btn-carts" class="btn">Mas Info</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-sm-12  mb-4">
        <div class="card h-100" style="width: 18rem;">
          <img src="../assets/angular-logo.png" class="card-img-top imagen" alt="...">
          <div class="card-body text-center">



            <a href="" id="btn-carts" class="btn">Mas Info</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-sm-12  mb-4">
        <div class="card h-100" style="width: 18rem;">
          <img src="../assets/angular-logo.png" class="card-img-top imagen" alt="...">
          <div class="card-body text-center">




            <a href="" id="btn-carts" class="btn">Mas Info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
